<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Login{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo_icon.png') }}?v=2">
</head>
<body>
  {% block content %}{% endblock %}
</body>
</html>
